<div class="row">
    <h1>Actions<h1>
            <table>
                <tr>
                    <th>Type</th>
                    <th>Price</th>
                    <th>When</th>
                </tr>
                {{#each action}}
                <tr>
                    <td>{{this.type}}</td>
                    <td>{{this.cost}}</td>
                    <td>{{this.timestamp}}</td>
                </tr>
                {{/each}}

            </table>
</div>